<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :required => true, :class => 'enlarge_width jqTranfield', :size => '70px' %>
  </div>
  <div class="field">
    <!-- <div id="wmd-button-bar" class="wmd-panel"></div> -->
    <%= f.label :body %>
    <%= f.text_area :body, :required => true, :class => 'enlarge_width jqTranarea wmd-panel', :id => "wmd-input" %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, options_for_select(Category.all) %>
  </div>
  <div class="actions">
    <button class="sexybutton sexyteal sexysimple sexylarge">Submit</button> <%= link_to 'Cancel', notes_path, :class => 'sexybutton sexyred sexysimple sexylarge' %>
  </div>

<% end %>
 <div id="wmd-preview" class="wmd-panel"></div>
  <div id="wmd-output" class="wmd-panel"></div>
<script>
$(function(){
      $('form').jqTransform({imgPath:'jqtransformplugin/img/'});
    });
</script>