<h1>Listing notes</h1>

<% @notes.each do |note| %>
<div>
<%= note.title %>
<span class='note_actions'><%= link_to 'Edit', edit_note_path(note) %><%= link_to 'Destroy', note, :confirm => 'Are you sure?', :method => :delete %></span>
</div>
<div id="name">
  <%= note.body.truncate(200) %>
</div>
<div id="name">
  Under <%= note.category.try(:name) %> <%= pluralize(note.comments.count, 'comment')%>
</div>
<% end %>

<%= link_to 'New Note', new_note_path %>
