<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag 'style', 'sexybuttons', 'jqtransform', 'wmd1', 'prettify' %>
  <%= javascript_include_tag :defaults, 'prettify', 'jquery.jqtransform', 'showdown', 'wmd' %>
  <%= csrf_meta_tag %>
</head>
<body onload = "prettyPrint()">
  <%= render 'layouts/header' %>




  <div id="content">
    <%= yield %>
  </div>
<%= render "layouts/footer" %>

</body>
</html>
