<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag 'style', 'sexybuttons', 'jqtransform' %>
  <%= javascript_include_tag :defaults, 'jquery.jqtransform' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/header' %>




  <div id="content">
    <%= yield %>
  </div>
<%= render "layouts/footer" %>

</body>
</html>
